//项目提供scss全局变量
//定义项目主题颜色

//菜单的高度
$base-menu-height:50px;
//菜单的背景颜色
$base-menu-background:rgba(4, 25, 37, 0.8);

//菜单logo右侧文字大小
$base-logo-title-fontSize:20px;
$base-logo-width: 200px;

//左侧信息栏背景颜色
$info-background: #00152999;
$info-width: 300px;
$bottom-background: #00000099;